/* GENERAL */

body {
    padding-top: 56px;
}

.bg-primary {
    background-color: #FFA101 !important;
}

.bg-light {
    background-color: #e9ecef !important;
}

svg {
    cursor: pointer;
}

/* USER HOME-PAGE */

.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}

/* PRODUCT DETAILS PAGE */

.change-qnt:hover {
    transform: scale(1.2);
    transition: 400ms;
}

#product_details {
    user-select: none;
}

#product_details .img-thumbnail {
    cursor: pointer;
}

#product_details .img-thumbnail:hover {
    filter: brightness(95%);
    transition: 400ms;
}