/* GENERAL */

body {
    padding-top: 56px;
}

.bg-primary {
    background-color: #FFA101 !important;
}

.bg-light {
    background-color: #e9ecef !important;
}

svg {
    cursor: pointer;
}

/* USER HOME-PAGE */



/* PRODUCT DETAILS PAGE */

.change-qnt:hover {
    transform: scale(1.2);
    transition: 400ms;
}

#product_details {
    user-select: none;
}

/* CART MODAL */
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow:none;
    
}
#cart-content{
    overflow: auto;
}

.modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
/*  */